In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df=pd.read_csv('Crimes_-_2001_to_present.csv')

In [10]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [4]:
df=df.rename_axis({'Date':'DateTime'},axis="columns")

In [17]:
df[['District','Community Area']]

         District  Community Area
0             4.0            45.0
1            10.0            30.0
2            12.0            23.0
3            22.0            73.0
4             8.0            70.0
5             3.0            42.0
6             2.0            38.0
7             1.0            32.0
8             7.0            69.0
9             5.0            53.0
10            8.0            65.0
11           22.0            75.0
12           18.0             8.0
13           10.0            29.0
14            2.0            39.0
15           10.0            30.0
16            1.0            32.0
17           22.0            73.0
18           24.0             2.0
19           14.0            22.0
20           16.0            10.0
21            1.0            32.0
22            6.0            44.0
23           17.0            13.0
24            3.0            42.0
25           22.0            71.0
26            4.0            52.0
27           24.0             1.0
28            6.0            71.0
29           10.0            30.0
...           ...             ...
6719419       1.0            28.0
6719420       7.0            67.0
6719421      19.0             6.0
6719422       7.0            68.0
6719423      10.0            28.0
6719424       9.0            60.0
6719425      16.0            10.0
6719426       8.0            70.0
6719427      18.0             8.0
6719428      15.0            25.0
6719429       4.0            43.0
6719430       1.0            32.0
6719431      11.0            26.0
6719432      19.0             6.0
6719433       8.0            62.0
6719434      11.0            26.0
6719435      18.0             8.0
6719436       6.0            71.0
6719437       7.0            67.0
6719438       5.0            54.0
6719439       4.0            46.0
6719440       1.0            32.0
6719441      25.0            20.0
6719442      12.0            24.0
6719443      17.0            21.0
6719444      18.0             8.0
6719445       8.0            57.0
6719446       9.0            61.0
6719447      20.0            77.0
6719448       9.0            37.0

[6719449 rows x 2 columns]

In [6]:
df["DateTime"] = df["DateTime"].apply(lambda x:datetime.strptime(x,"%m/%d/%Y %I:%M:%S %p"))

TypeError: ('strptime() argument 1 must be str, not Series', 'occurred at index DateTime')

In [63]:
df['Date']=[d.date() for d in df['DateTime']]
df['Time']=[d.time() for d in df['DateTime']]

In [64]:
df['Hour']=df['DateTime'].dt.hour

In [11]:
df['DateTime'].rename_axis('Date',axis=1)

Date              DateTime    DateTime
0      2011-09-30 04:00:00  2011-09-30
1      2011-09-02 23:45:00  2011-09-02
2      2011-09-04 02:45:00  2011-09-04
3      2011-09-04 01:00:00  2011-09-04
4      2011-09-05 00:56:00  2011-09-05
5      2011-09-06 15:00:00  2011-09-06
6      2011-09-02 07:30:00  2011-09-02
7      2011-09-09 18:00:00  2011-09-09
8      2011-09-14 15:40:00  2011-09-14
9      2011-09-14 14:30:00  2011-09-14
10     2011-09-03 09:15:00  2011-09-03
11     2011-09-21 06:15:00  2011-09-21
12     2011-09-21 22:15:00  2011-09-21
13     2011-09-23 09:45:00  2011-09-23
14     2011-09-23 21:35:00  2011-09-23
15     2011-09-25 08:50:00  2011-09-25
16     2011-09-30 13:00:00  2011-09-30
17     2011-09-25 08:45:00  2011-09-25
18     2011-09-30 00:01:00  2011-09-30
19     2011-09-02 00:01:00  2011-09-02
20     2011-09-15 16:11:00  2011-09-15
21     2011-09-01 00:00:00  2011-09-01
22     2011-09-14 00:01:00  2011-09-14
23     2011-09-26 12:00:00  2011-09-26
24     2011-09-16 16:00:00  2011-09-16
25     2011-09-01 00:00:00  2011-09-01
26     2011-09-22 00:01:00  2011-09-22
27     2011-09-15 12:00:00  2011-09-15
28     2011-09-03 09:00:00  2011-09-03
29     2011-09-25 05:00:00  2011-09-25
...                    ...         ...
29886  2011-09-23 06:07:00  2011-09-23
29887  2011-09-26 12:45:00  2011-09-26
29888  2011-09-26 16:12:00  2011-09-26
29889  2011-09-26 02:05:00  2011-09-26
29890  2011-09-28 22:07:00  2011-09-28
29891  2011-09-10 14:40:00  2011-09-10
29892  2011-09-26 08:00:00  2011-09-26
29893  2011-09-12 23:45:00  2011-09-12
29894  2011-09-22 16:20:00  2011-09-22
29895  2011-09-30 15:13:00  2011-09-30
29896  2011-09-21 00:00:00  2011-09-21
29897  2011-09-07 00:30:00  2011-09-07
29898  2011-09-30 23:00:00  2011-09-30
29899  2011-09-22 00:00:00  2011-09-22
29900  2011-09-06 00:00:00  2011-09-06
29901  2011-09-23 16:00:00  2011-09-23
29902  2011-09-03 22:30:00  2011-09-03
29903  2011-09-01 00:00:00  2011-09-01
29904  2011-09-03 12:00:00  2011-09-03
29905  2011-09-18 22:00:00  2011-09-18
29906  2011-09-01 00:01:00  2011-09-01
29907  2011-09-24 13:51:00  2011-09-24
29908  2011-09-28 12:00:00  2011-09-28
29909  2011-09-09 00:01:00  2011-09-09
29910  2011-09-07 08:00:00  2011-09-07
29911  2011-09-14 09:00:00  2011-09-14
29912  2011-09-14 00:01:00  2011-09-14
29913  2011-09-26 10:00:00  2011-09-26
29914  2011-09-01 00:00:00  2011-09-01
29915  2011-09-13 21:17:00  2011-09-13

[29916 rows x 2 columns]

In [5]:
df=df.dropna(axis=0)

In [6]:
df.to_csv(r'crime_2011_9_Chicago.csv')

In [4]:
df1=df.groupby(['Community Area','Beat'],as_index=False)['ID'].count()

In [4]:
for i in range(len(df1)):
    df1.loc[i,'Hour']=chr(ord('A')+df1.loc[i,'Hour'])

In [24]:
df1

           Date Hour  DateTime
0    2011-09-01    A       100
1    2011-09-01    B        26
2    2011-09-01    C        29
3    2011-09-01    D        19
4    2011-09-01    E        19
5    2011-09-01    F        11
6    2011-09-01    G        23
7    2011-09-01    H        27
8    2011-09-01    I        43
9    2011-09-01    J        93
10   2011-09-01    K        56
11   2011-09-01    L        50
12   2011-09-01    M        70
13   2011-09-01    N        59
14   2011-09-01    O        42
15   2011-09-01    P        54
16   2011-09-01    Q        63
17   2011-09-01    R        49
18   2011-09-01    S        65
19   2011-09-01    T        59
20   2011-09-01    U        49
21   2011-09-01    V        63
22   2011-09-01    W        57
23   2011-09-01    X        49
24   2011-09-02    A        54
25   2011-09-02    B        36
26   2011-09-02    C        38
27   2011-09-02    D        18
28   2011-09-02    E        11
29   2011-09-02    F         9
..          ...  ...       ...
690  2011-09-29    S        56
691  2011-09-29    T        46
692  2011-09-29    U        54
693  2011-09-29    V        63
694  2011-09-29    W        53
695  2011-09-29    X        53
696  2011-09-30    A        48
697  2011-09-30    B        21
698  2011-09-30    C        15
699  2011-09-30    D        13
700  2011-09-30    E        17
701  2011-09-30    F        10
702  2011-09-30    G        15
703  2011-09-30    H        25
704  2011-09-30    I        41
705  2011-09-30    J        48
706  2011-09-30    K        39
707  2011-09-30    L        42
708  2011-09-30    M        63
709  2011-09-30    N        50
710  2011-09-30    O        64
711  2011-09-30    P        70
712  2011-09-30    Q        62
713  2011-09-30    R        53
714  2011-09-30    S        52
715  2011-09-30    T        53
716  2011-09-30    U        64
717  2011-09-30    V        53
718  2011-09-30    W        50
719  2011-09-30    X        54

[720 rows x 3 columns]

In [6]:
df2=df1.groupby(['Community Area'],as_index=False)['Beat'].count()

In [7]:
df2.to_csv('police_station.csv')

In [17]:
df['Date']=df['Date'].apply(lambda x:datetime.strptime(x,"%Y-%m-%d"))

In [18]:
df['Date'].dt.day

0         4
1         4
2         5
3         6
4         9
5        14
6        14
7         3
8        21
9        21
10       23
11       23
12       30
13       25
14        9
15        9
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
29785     8
29786    11
29787    11
29788    12
29789    13
29790    13
29791    13
29792    14
29793    14
29794    15
29795    15
29796    17
29797    18
29798    18
29799    18
29800    18
29801    19
29802    19
29803    22
29804    22
29805    23
29806    26
29807    26
29808    26
29809    28
29810    10
29811     7
29812     3
29813    24
29814    13
Name: Date, Length: 29815, dtype: int64